@inject IHtmlLocalizer<Template.Web.Areas.Example.Navi.IndexViewModel> ModelLocalizer
@model Template.Web.Areas.Example.Navi.EditViewModel
@{
    if (Model.Id == null)
    {
        ViewData["Title"] = "Recupero dettaglio nave fallito!";
    }
}
@section pageTitle{
    <div class="navbar-brand text-truncate">
        @ViewData["Title"]
    </div>
}

<div class="mx-3">

    <div class="container" style="margin-left: 0px; margin-bottom: 50px; margin-top: 20px">
        <h1 style="margin-bottom: 0px; padding-bottom: 0px">@Model.Nome</h1>
        <div class="row mb-3">
            <div class="col-12">
                <label class="fs-4">Cliente:</label>
                <b class="fs-4">@Model.NomeCliente</b>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 col-md-3">
                <label class="fs-5">Arrivo:</label>
                <b class="fs-5">@Model.Arrivo</b>
            </div>
            <div class="col-6 col-md-3 offset-md-2">
                <label class="fs-5">Container:</label>
                <b class="fs-5">@Model.Container</b>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <label class="fs-5">Partenza:</label>
                <b class="fs-5">@Model.Partenza</b>
            </div>
            <div class="col-6 col-md-3 offset-md-2">
                <label class="fs-5">Bancali:</label>
                <b class="fs-5">@Model.Bancali</b>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div id="lostConnection" class="d-none text-white">
            <h3>Ho perso la connessione con il server</h3>
            <p><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Attendi, sto riprovando a connettermi per te</p>
        </div>
        <div id="lostConnectionManualRetry" class="d-none text-white">
            <h3>Ho perso la connessione con il server e non riesco più a ricollegarmi</h3>
            <p>Prova ad aggiornare la pagina manualmente</p>
            <button class="btn btn-primary" onclick="location.reload(true)"><i class="fa fa-refresh"></i>&nbsp;Ricarica la pagina</button>
        </div>
    </div>
</div>

<div class="mx-3" v-for="(dataLavorazione, index) in model.dateLavorazione" :key="dataLavorazione.data">
    <label class="fs-5">{{dataLavorazione.data}}</label>
    <button style="float: right; margin-bottom: 10px"
            v-on:click="redirectToEditOrari(model.id, dataLavorazione.data)">
        <img id="pencil-image" src="~/images/pencil.png" style="width: 30px; height: 30px;" alt="modifica" />
    </button>
    <label class="fs-5" style="float: right; margin-right: 15px;">Dipendenti rimanenti: {{model.dipendentiDisponibili[index].numero}}</label>
    <br />
    <table class="table" style="margin-bottom: 30px">
        <thead class="table-info">
            <tr>
                <th class="text-center" scope="col" style="width: 25%" v-for="fasciaOraria in dataLavorazione.fasceOrarie">{{fasciaOraria.etichetta}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" style="width: 25%" v-for="fasciaOraria in dataLavorazione.fasceOrarie">
                    <div v-for="orario in fasciaOraria.orari">
                        <div class="text" v-if="orario.giorno == dataLavorazione.data">
                            <p>{{orario.nome}} {{orario.cognome}} - {{orario.ruolo}}</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Navi/Edit.js" asp-append-version="true"></script>

    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">
        // SOSTITUIRE @Model.Id con ID del gruppo
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.Id", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Example.Navi.editVueModel(signalRManager.connection, JSON.parse(document.getElementById("Seed_JSON").innerText));

        var vueModel = new Vue({
            el: '#pageId',
            data: editModel,
            methods: {
                redirectToEditOrari: function (idNave, giorno) {
                    window.location.href = "/Example/Orari/?Id=" + idNave + "&giorno=" + giorno;
                }
            }
        });

    </script>
}
