@inject IHtmlLocalizer<Template.Web.Areas.Example.Navi.IndexViewModel> ModelLocalizer
@model Template.Web.Areas.Example.Navi.IndexViewModel
@{
    ViewData["Title"] = "Navi";
}
@section pageSubtitle{
    <nav class="navbar navbar-expand-lg navbar-light bg-white onit-page-subtitle ms-3 mt-3">
        <form method="get" id="annullaRicerca">
        </form>
        <form class="onit-form-search" method="get" autocomplete="off">
            <div class="collapse navbar-collapse">
                <div class="col-sm-auto onit-form-search-col-auto-2x navbar-nav me-4">
                    <div class="input-group onit-input-group-union me-4">
                        <span class="input-group-text"><i class="fa-solid fa-fw fa-magnifying-glass"></i></span>
                        <input asp-for="Filter" class="form-control" placeholder="Cerca..."/>
                    </div>
                    <div>
                        <select asp-for="Tipologia" id="select-filtro">
                            <option value="Tutte">Tutte</option>
                            <option value="In scadenza">In scadenza</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-auto onit-form-search-col-auto-2x navbar-nav">
                    <button class="btn btn-primary me-2 px-3" type="submit">
                        Cerca
                    </button>
                    <button class="btn btn-link" type="button" title="Annulla tutti i parametri della ricerca" onclick="document.getElementById('annullaRicerca').submit();">
                        Azzera ricerca
                    </button>
                </div>
            </div>
        </form>
    </nav>
}
@* <div>
    <div class="container-fluid">
        <div class="row">
            <div>
                @if (Model.Navi.Any() == false)
                {
                    <p colspan="3">Nessun elemento trovato con i filtri correnti</p>
                }
                else
                {
                    @foreach (var arrivo in Model.Arrivi)
                    {
                        <label class="fs-3 fw-bold mb-2 mt-3">@arrivo.Arrivo</label>
                        @foreach (var nave in Model.Navi)
                        {
                            @if (DateOnly.FromDateTime(@nave.Arrivo) == @arrivo.Arrivo)
                            {
                                @if (@nave.Partenza < DateTime.Now)
                                {
                                    <button class="card mb-3" onclick="redirectToEditNave('@nave.Id')" style="width:100%; background-color: #ffe9e9">
                                        <div class="card-header" style="width:100%; background-color: #ff5858">
                                            @nave.Nome
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                <p style="text-align:start">Partenza: @nave.Partenza</p>
                                            </blockquote>
                                        </div>
                                    </button>
                                }
                                else if (@nave.Partenza <= DateTime.Now.AddDays(7) && @nave.Partenza >= DateTime.Now)
                                {
                                    <button class="card mb-3" onclick="redirectToEditNave('@nave.Id')" style="width:100%; background-color: #fff5cc">
                                        <div class="card-header" style="width:100%; background-color: #ffe454">
                                            @nave.Nome
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                <p style="text-align:start">Partenza: @nave.Partenza</p>
                                            </blockquote>
                                        </div>
                                    </button>
                                }
                                else if (@nave.Partenza > DateTime.Now.AddDays(7))
                                {
                                    <button class="card mb-3" onclick="redirectToEditNave('@nave.Id')" style="width:100%; background-color: #f1f5ff">
                                        <div class="card-header" style="width:100%; background-color: #7096ff">
                                            @nave.Nome
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                <p style="text-align:start">Partenza: @nave.Partenza</p>
                                            </blockquote>
                                        </div>
                                    </button>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div> *@

<div>
    <div class="container-fluid">
        <div class="row">
            <div>
                @if (Model.Navi.Any() == false)
                {
                    <p colspan="3">Nessun elemento trovato con i filtri correnti</p>
                }
                else
                {
                    @foreach (var arrivo in Model.Arrivi)
                    {
                        <label class="fs-3 fw-bold mb-2 mt-3">@arrivo.Arrivo</label>
                        <div class="row">
                            @foreach (var nave in Model.Navi)
                            {
                                @if (DateOnly.FromDateTime(@nave.Arrivo) == @arrivo.Arrivo)
                                {
                                    <div class="col-6 mb-3">
                                        @if (@nave.Partenza < DateTime.Now)
                                        {
                                            <button class="card" onclick="redirectToEditNave('@nave.Id')" style="width: 100%; background-color: #ffe9e9">
                                                <div class="card-header" style="width: 100%; background-color: #ff5858">
                                                    @nave.Nome
                                                </div>
                                                <div class="card-body">
                                                    <blockquote class="blockquote mb-0">
                                                        <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                        <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                        <p style="text-align:start">Partenza: @nave.Partenza</p>
                                                    </blockquote>
                                                </div>
                                            </button>
                                        }
                                        else if (@nave.Partenza <= DateTime.Now.AddDays(7) && @nave.Partenza >= DateTime.Now)
                                        {
                                            <button class="card" onclick="redirectToEditNave('@nave.Id')" style="width: 100%; background-color: #fff5cc">
                                                <div class="card-header" style="width: 100%; background-color: #ffe454">
                                                    @nave.Nome
                                                </div>
                                                <div class="card-body">
                                                    <blockquote class="blockquote mb-0">
                                                        <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                        <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                        <p style="text-align:start">Partenza: @nave.Partenza</p>
                                                    </blockquote>
                                                </div>
                                            </button>
                                        }
                                        else if (@nave.Partenza > DateTime.Now.AddDays(7))
                                        {
                                            <button class="card" onclick="redirectToEditNave('@nave.Id')" style="width: 100%; background-color: #f1f5ff">
                                                <div class="card-header" style="width: 100%; background-color: #7096ff">
                                                    @nave.Nome
                                                </div>
                                                <div class="card-body">
                                                    <blockquote class="blockquote mb-0">
                                                        <p style="text-align:start">Cliente: @nave.NomeCliente</p>
                                                        <p style="text-align:start">Arrivo: @nave.Arrivo</p>
                                                        <p style="text-align:start">Partenza: @nave.Partenza</p>
                                                    </blockquote>
                                                </div>
                                            </button>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Gestisci il click sul pulsante
        function redirectToEditNave(idNave) {
            window.location.href = "/Example/Navi/Edit/" + idNave;
        }
    </script>
}