@{
    Layout = "_LayoutHtml";
}
@inject IHtmlLocalizer<Template.Web.Areas.Example.Orari.IndexViewModel> ModelLocalizer
@model Template.Web.Areas.Example.Orari.IndexViewModel
@{
    ViewData["Title"] = "Orari";
}
<header>
    <div>
        <h1>@Model.Nave.Nome</h1>
        <h2>@Model.Giorno</h2>
    </div>
</header>
<aside>
    @foreach (Template.Services.Shared.DipendentePerRuoloDTO dipendentiPerRuolo in Model.DipendentiLiberi)
    {
        <h2>@dipendentiPerRuolo.Ruolo</h2>
        @foreach (Template.Services.Shared.DipendenteDetailDTO dipendentiLiberi in dipendentiPerRuolo.Dipendenti)
        {
            <label>@dipendentiLiberi.Nome @dipendentiLiberi.Cognome</label>
            <br />
        }
        <hr />
    }
</aside>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <table class="table table-hover table-sm table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
