@inject IHtmlLocalizer<Template.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
}
<div id="pageId" class="onit-page">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white ms-2 me-4">
            <a class="navbar-brand" href="/">
                <img src="/images/logoNave.png" width="100" height="100" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a id="navi_item" class="nav-link fs-2" href="/">Navi <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="dipendenti_item" class="nav-link fs-2" href="/Example/Dipendenti">Dipendenti</a>
                    </li>
                </ul>
                @if (identitaCorrente != null)
                {
                    <div id="logout-button" class="ms-auto">
                        <a class="item fs-2" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()" title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                            <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Logout"]
                        </a>
                        <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())" id="POST_LogOut" display="none"></form>
                    </div>
                }
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>
@section scripts{
    <script type="text/javascript">
@this.RenderAlertsWithToastify()
</script>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentUrl = window.location.pathname;
        var idNavi = "navi_item";
        var idDipendenti = "dipendenti_item";
        var naviItem = document.getElementById(idNavi);
        var dipendentiItem = document.getElementById(idDipendenti);

        if (currentUrl == "/Example/Navi") {
            naviItem.style.textDecoration = "underline";
        } else if (currentUrl == "/Example/Dipendenti") {
            dipendentiItem.style.textDecoration = "underline";
        }
    });
    </script>

    @RenderSection("scripts", false)
}