@model Template.Web.Areas.Example.Dipendenti.EditViewModel
@{
    ViewData["Id"] = Model.Id;
    ViewData["Dipendente"] = Model.Nome + " " + Model.Cognome;
    ViewData["Ruolo"] = Model.Ruolo;
    ViewData["DataNascita"] = Model.DataNascita;
    ViewData["CF"] = Model.CF;
    ViewData["VisitaMedica"] = Model.VisitaMedica;
    ViewData["Patente"] = Model.Patente;
}

<div>
    <section>
        <div class="navbar-brand text-truncate">
            <h1>@ViewData["Dipendente"]</h1>
            <h3>@ViewData["Ruolo"]</h3>
        </div>
        <div>
            <label>Data di nascita: @ViewData["DataNascita"]</label>
            <label>Codice Fiscale: @ViewData["CF"]</label>
        </div>
    </section>

    <section>
        <h2>ORARI:</h2>
        <div class="lista-assegnazioni">
            @if (Model.Orari.Count() > 0)
            {
                @foreach (var orario in Model.Orari)
                {
                    <div class="assegnazione">              
                        <label class="giorno"> @orario.Giorno </label>
                        <label class="turno"> @orario.Inizio - @orario.Fine          @orario.NomeNave</label>               
                    </div>  
                }
               
            }
            @if (Model.Orari.Count() <= 0)
            {
                <div class="nessuna-assegnazione">
                    <label class="vuota">Nessun turno assegnato</label>
                </div>
            }
        </div>
    </section>

    <aside class="certificati">
        <div class="card">
            <h2 class="card-header">Visita Medica</h2>
            <label class="card-body">Scadenza:</label>
            <input type="text" id="visitaMedica" class="card-body" value="@ViewData["VisitaMedica"]" readonly />
            <button id="editVisita"><img src="~/images/pencil.png" alt="modifica" /></button>
        </div>
        <div class="card">
            <h2 class="card-header">Patente</h2>
            <label class="card-body">Scadenza:</label>
            <input type="text" id="patente" class="card-body" value="@ViewData["Patente"]" readonly />
            <button id="editPatente"><img src="~/images/pencil.png" alt="modifica" /></button>
        </div>
    </aside>
</div>


@section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Dipendenti/Edit.js" asp-append-version="true"></script>

    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.Id", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Example.Dipendenti.editVueModel(signalRManager.connection, JSON.parse(document.getElementById("Seed_JSON").innerText));

        var vueModel = new Vue({
            el: '#pageId',
            data: editModel,
            computed: {
            }
        });

        //var editViewModel = new Example.Dipendenti.EditViewModel();

        $(document).ready(function () {
            $("#editVisita").click(function () {
                $("#visitaMedica").prop("readonly", false);
                $("#visitaMedica").addClass("modificabile");
            });

            $("#visitaMedica").blur(function () {
                $(this).prop("readonly", true);
                $(this).removeClass("modificabile");

                var visitaMedica = $("#visitaMedica").val();
                var patente = $("#patente").val();
                eseguiModificaData(visitaMedica, patente);
            });

            $("#editPatente").click(function () {
                $("#patente").prop("readonly", false);
                $("#patente").addClass("modificabile");
            });

            // Aggiungi un altro gestore di eventi per salvare la data modificata
            $("#patente").blur(function () {
                $(this).prop("readonly", true);
                $(this).removeClass("modificabile");

                var visitaMedica = $("#visitaMedica").val();
                var patente = $("#patente").val();
                eseguiModificaData(visitaMedica, patente);
            });

            // Gestisci il click sul pulsante
            function eseguiModificaData(visitaMedica, patente) {

                // Chiama l'endpoint nel controller ASP.NET utilizzando AJAX
                $.ajax({
                    url: "/Example/Dipendenti/ModificaData",
                    method: "POST",
                    data: {
                        id: "@Model.Id",
                        visitaMedica: visitaMedica,
                        patente: patente
                    },
                    success: function (response) {
                        alert("Data modificata con successo!");
                    },
                    error: function () {
                        alert("Si è verificato un errore durante la modifica della data.");
                    }
                });
            }
        });
    </script>
}
