@model Template.Web.Areas.Example.Dipendenti.EditViewModel
@{
    ViewData["Dipendente"] = Model.Nome + " " + Model.Cognome;
    ViewData["Ruolo"] = Model.Ruolo;
    ViewData["DataNascita"] = Model.DataNascita;
    ViewData["CF"] = Model.CF;
    ViewData["VisitaMedica"] = Model.VisitaMedica;
    ViewData["Patente"] = Model.Patente;
}

<div>
    <section>
        <div class="navbar-brand text-truncate">
            <h1>@ViewData["Dipendente"]</h1>
            <h3>@ViewData["Ruolo"]</h3>
        </div>
        <div>
            <label>Data di nascita: @ViewData["DataNascita"]</label>
            <label>Codice Fiscale: @ViewData["CF"]</label>
        </div>
    </section>

    <section>
        <h2>ORARI:</h2>
        <div class="lista-assegnazioni">
            <div class="assegnazione">
                @foreach (var orario in Model.Orari)
                {
                    <label class="giorno"> @orario.Giorno </label>
                    <label class="turno"> @orario.Inizio - @orario.Fine          @orario.NomeNave</label>
                }
            </div>

            <div class="nessuna-assegnazione">
                <label class="vuota">Nessun turno assegnato</label>
            </div>
        </div>
    </section>

    <aside class="certificati">
        <div class="card">
            <h2 class="card-header">Visita Medica</h2>
            <label class="card-body">Scadenza:</label>
            <label class="card-body">@ViewData["VisitaMedica"]</label>
            <button><img src="~/images/pencil.png" alt="modifica" /></button>
        </div>
        <div class="card">
            <h2 class="card-header">Patente</h2>
            <label class="card-body">Scadenza:</label>
            <label class="card-body">@ViewData["Patente"]</label>
            <button><img src="~/images/pencil.png" alt="modifica" /></button>
        </div>
    </aside>
</div>


@section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Dipendenti/Edit.js" asp-append-version="true"></script>

    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.Id", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Example.Dipendenti.editVueModel(signalRManager.connection, JSON.parse(document.getElementById("Seed_JSON").innerText));

        var vueModel = new Vue({
            el: '#pageId',
            data: editModel,
            computed: {
            }
        });

    </script>
}
