@model Template.Web.Areas.Example.Dipendenti.EditViewModel
@{
    ViewData["Dipendente"] = Model.Nome + " " + Model.Cognome;
    ViewData["Ruolo"] = Model.Ruolo;
    ViewData["DataNascita"] = Model.DataNascita;
    ViewData["CF"] = Model.CF;
}

<div>
    <section>
        <div class="navbar-brand text-truncate">
            <h1>@ViewData["Dipendente"]</h1>
            <h3>@ViewData["Ruolo"]</h3>
        </div>
        <div>
            <label>Data di nascita: @ViewData["DataNascita"]</label>
            <label>Codice Fiscale: @ViewData["CF"]</label>
        </div>
    </section>

    <section>
        <h2>ORARI:</h2>
        <div class="lista-assegnazioni">
            <div class="assegnazione" v-if="Orari.CF.count() > 0" v-for="">
                <label class="giorno"> {{ Orari.Giorno }}</label>
                <label class="turno"> {{ Orari.Inizio }} - {{ Orari.Fine }}          {{ Orari.NomeNave }}</label>
            </div>

            <div class="nessuna-assegnazione" v-else>
                <label class="vuota">Nessun turno assegnato</label>
            </div>
        </div>
    </section>

    <aside class="certificati">
        <div class="card-certificato">
            <h2>Visita Medica</h2>
            <label>Scadenza:</label>
            <label>{{ Dipendenti.VisitaMedica }}</label>
            <button><img src="~/images/app-logo.png" alt="modifica" /></button>
        </div>
        <div class="card-certificato">
            <h2>Patente</h2>
            <label>Scadenza:</label>
            <label>{{ Dipendenti.Patente }}</label>
            <button><img src="~/images/app-logo.png" alt="modifica" /></button>
        </div>
    </aside>
</div>


@section scripts{
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Dipendenti/Edit.js" asp-append-version="true"></script>

    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">
        // SOSTITUIRE @Model.CF con ID del gruppo
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.CF", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Example.Dipendenti.editVueModel(signalRManager.connection, JSON.parse(document.getElementById("Seed_JSON").innerText));

        var vueModel = new Vue({
            el: '#pageId',
            data: editModel,
            computed: {
            }
        });

    </script>
}
