@inject IHtmlLocalizer<Template.Web.Areas.Example.Dipendenti.IndexViewModel> ModelLocalizer
@model Template.Web.Areas.Example.Dipendenti.IndexViewModel
@{
    ViewData["Title"] = "Dipendenti";
}
@section pageSubtitle{
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-subtitle ms-3 mt-3 mb-2">
        <form method="get" id="annullaRicerca">
        </form>
        <form class="onit-form-search" method="get" autocomplete="off">
            <div class="collapse navbar-collapse">
                <div class="col-sm-auto onit-form-search-col-auto-2x navbar-nav me-4">
                    <div class="input-group onit-input-group-union">
                        <span class="input-group-text"><i class="fa-solid fa-fw fa-magnifying-glass"></i></span>
                        <input asp-for="Filter" class="form-control" placeholder="Cerca..." />
                    </div>
                </div>

                <div class="col-sm-auto onit-form-search-col-auto-2x navbar-nav">
                    <button class="btn btn-primary me-2 px-3" type="submit">
                        Cerca
                    </button>
                    <button class="btn btn-link" type="button" title="Annulla tutti i parametri della ricerca" onclick="document.getElementById('annullaRicerca').submit();">
                        Azzera ricerca
                    </button>
                </div>

            </div>
        </form>
    </nav>
}
<div class="mx-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <table class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>
                                @ModelLocalizer["Nome"]&nbsp;
                            </th>
                            <th>
                                @ModelLocalizer["Cognome"]&nbsp;
                            </th>
                            <th>
                                @ModelLocalizer["Ruolo"]&nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Dipendenti.Any() == false)
                        {
                            <tr>
                                <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var dipendente in Model.Dipendenti)
                            {
                                <tr class="onit-table-row-link" onclick="javascript:utilities.navigateUrlExcludeOnitNotNavigate('@Url.Action(MVC.Example.Dipendenti.Edit(dipendente.Id))')" title="@ModelLocalizer["Dettaglio dipendente"] @dipendente.Nome">
                                    <td scope="row" class="text-nowrap">
                                        @dipendente.Nome
                                    </td>
                                    <td class="text-nowrap">
                                        @dipendente.Cognome
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <span>@dipendente.Ruolo</span>
                                            <div class="ms-auto">
                                                <img id="arrow-image" src="~/images/frecciaDestra.png" style="width: 30px; height: 30px;" alt="modifica" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>